@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-size: 18px;
}
body {
    background-repeat: no-repeat;
    margin: 0;
    color:#EBFCFD;
    font-family: Playfair Display;
}

h1 {
    color: #EBF9FA;
    font-family: Playfair Display;
    font-weight: 400;
    mix-blend-mode: color-dodge;
    font-size: 20vw;
    position: absolute;
    font-kerning: auto;
    top: 40vw;
    left: 10vw;
}
h2 {
    color: #33E7F2;
    font-weight: 400;
    font-size: 2.8vw;
}
h4 {
    font-family: 'Source Sans 3';
    font-size: 1vw;
    font-weight: 400;
}
.body-text{
    font-family: 'Source Sans 3';
    font-size: 1.5vw;
    position: absolute;
}
h3 {
    color: #EBFCFD;
    font-family: 'Source Sans 3';
    font-size: 2vw;
    font-style: italic;
    font-weight: 700;
    position: absolute;
    text-align: right;
}

#bg-one {
    position: relative;
    z-index: -50;
    width: 100vw;
}
#bg-two {display :none;}
#bg-three {display :none;}

li {
    list-style: none;
}


#phone-gap{display: none;}

footer {
    opacity: 0.3;
    width: 100vw;
    height: 2vw;
    text-align: center;
    font-family: 'Source Sans 3';
    font-size: 1vw;
    font-style: italic;
}






/* Device: Tablet (Ipad Air) */
@media screen and (min-width:767px) and (max-width: 1024px) {
    #bg-one {display: none;}
    #bg-two {
        display: block;
        position: relative;
        z-index: -50;
        width: 100vw;
    }

    h1 {
        font-size: 23vw;
        top: 108vw;
        left: 5vw;
    }
    h2 {
        font-size: 4vw;
    }
    h3 {
        font-size: 3vw;
    }
    h4 {
        font-size: 1.34vw;
        font-weight: 400;
    }
    .body-text{
        font-size: 2vw;
        position: absolute;
    }

    footer {
        font-size: 1.3vw;
    }

}









/* Device: Mobile (Iphone 12 Pro) */
@media screen and (max-width: 768px) {
    #phone-gap{
        z-index: 100;
        background-color: #0E053A;
        display: block;
        width: 100vw;
        height: 10vw;
        position: fixed;
    }
    #bg-one {display: none;}
    #bg-three {
        display: block;
        position: relative;
        z-index: -50;
        width: 100vw;
    }

    h1 {
        font-size: 45vw;
        top: 120vw;
        left: 6.5vw;
    }
    h2 {
        font-size: 7vw;
    }
    h4 {
        font-size: 2.2vw;
        font-weight: 400;
    }
    .body-text {
        font-size: 2.8vw;
    }
    h3 {
        font-size: 4.5vw;

    }

    footer {
        font-size: 1.2vw;
    }

}







/*quick contact*/
body {
    background: linear-gradient(90deg, orange 2%, rgb(255, 94, 0) 100% );
}
.contact {
    font-style: italic;
    font-weight: 900;
}

#big-text {
    color: #EBF9FA;
    font-size: 15vw;
    line-height: 88%;
    font-kerning: auto;
    mix-blend-mode: soft-light;

    position: absolute;
    top: 0vw;
    left: 10vw;
}

#details {
    display:grid;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 5vw;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    gap:0;

    position:absolute;
    top: 50vw;
    right: 3vw;
}

#one {
    text-align: right;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
#two {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
#three {
    text-align: right;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
#four {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

footer {
    position: absolute;
    top: 67vw;
}




/* Device: Tablet (Ipad Air) */
@media screen and (min-width:767px) and (max-width: 1024px) {
    #big-text {
        font-size: 20vw;
        transform: rotate(270deg);
        top: 52vw;
        left: 6vw;
    }
    #details {

        width: 35vw;
        height: 6vw;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr;
        gap:0;
    
        position:absolute;
        top: 30vw;
        right: 28vw;
    }
    footer {
        top: 139.5vw;
    }
}






/* Device: Mobile (Iphone 12 Pro) */
@media screen and (max-width: 768px) {
    #big-text {
        margin:0;
        width: 200vw;

        font-size: 30vw;
        transform: rotate(270deg);
        top: 76vw;
       left:-52vw;
    } 
    #details {
        width: 40vw;
        height: 12vw;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr;
        column-gap:6vw;
    
        position:absolute;
        top: 50vw;
        right: 29vw;
    }

    body-text{
        margin:0;
    }

    footer {
        top: 209vw;
    }
}



/*navi*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-size: 18px;
}

nav {
    z-index: 100;
    left: 0;
    top: 0;
    width: 100vw;
    position: fixed;
    background: linear-gradient(180deg, #0E053A 0%, rgba(14, 5, 58, 0.00) 100%);
    backdrop-filter: blur(5px);
}


.navigation-two{display:none;}
.navigation-one{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em 0 1.5em 0;
    margin: auto;
    gap: 2vw;
    font-size: 1.2vw;
    left:0;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
    position: relative;
}
.lines {
    background-color: #EBFCFD;
    width: 25vw;
    height: 0.1vw;
}


a:link {
    color:#EBFCFD;
    text-decoration: none;
}
a:visited {
    color:#EBFCFD;
    text-decoration: none;
}
a:hover {
    color: #33E7F2;
}
a {
    transition: 0.3s;
}






/* Device: Tablet (Ipad Air) */
@media screen and (min-width:767px) and (max-width: 1024px) {
    .navigation-one {display: none;}
    .logo {
        width: 14vw;
    }

    .navigation-two {
        padding: 0vw 2vw 0vw 3.5vw;
        display: flex;

        flex-direction: row;
        align-items: center;
        justify-content: center;
        list-style: none;
        gap: 0;
    }
    .navigation-two-text {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        list-style: none;
        padding: 4vw 2.5vw 2vw 0;
        gap: 0.5em;
        width: 100vw;
        font-size: 2.5vw;
    }
    #line-three {
        transform: rotate(90deg);
        height: 1px;
        width: 2.5vw;
        background-color: #33E7F2;
    }

}






/* Device: Mobile (Iphone 12 Pro) */
@media screen and (max-width: 768px) {
    nav{
        top: 10vw;
    }
    .navigation-one {display: none;}
    .logo {
        width: 16vw;
    }
    .navigation-two {
        padding: 1vw 2vw 1vw 3vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        list-style: none;
        gap: 0;
        justify-content: center;
    }
    .navigation-two-text {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        list-style: none;
        padding: 4vw 2.5vw 2vw 0;
        gap: 0.3em;
        width: 100vw;
        font-size: 3.2vw;
    }
    #line-three {
        transform: rotate(90deg);
        height: 1px;
        width: 3vw;
        background-color: #33E7F2;
    }
}
.header-left{
    margin-top: 10px;
    margin-left: 10px;
}
.header-right{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-right: 50px;    
  
}

.header-right {
    direction: rtl;
}